<mat-toolbar class="text-light">
  <div class="logo">
    <img src="../../../../../assets/img/logo-de-la-empresa.jpg" alt="Logo de la marca">
  </div>
  <!-- menu de producto -->
  <nav>
    <ul class="nav-links">
      <li><a href="#">Inicio</a></li>
      <li><a href="/producto">Productos</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#infofooter">Nosotros</a></li>
    </ul>
  </nav>
  <!-- inicio de sesion -->
  <div>
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item routerLink="/registro" *ngIf="!loggeado">Registrarse</button>
      <button mat-menu-item routerLink="/inicio-sesión" *ngIf="!loggeado">Iniciar sesión</button>
      <button mat-menu-item (click)="CerrarSesion()" *ngIf="loggeado">Cerrar Sesion</button>
    </mat-menu>
    <!-- carrito -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      routerLink="/inicio">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" routerLink="/carrito" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
    <input type="checkbox" id="toggle" (click)="cambiarfondo()">
  </div>
</mat-toolbar>