.admin{
height: 75%;
background-image: url(../../../../../assets/wallpapersden.com_minimal-hd-landscape_2560x1440.jpg);
margin-top: -70px;
padding-top: 70px;
padding-left: 10px;
margin-right: -12px;
}

th,td{
    color: white;
    background-color: transparent;
}

.footer-button{
    padding: auto;
}