<!-- Tabla productos -->
<table class="table">
  <thead>
    <tr>
      <th class="col">#</th>
      <th class="col">imagen</th>
      <th class="col">nombre</th>
      <th class="col">precio</th>
      <th class="col">descripcion</th>
      <th class="col">categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of productocollection">
      <th scope="row"></th>
      <td><img src="{{col.imagen}}" alt="{{col.alt}}"></td>
      <td>{{col.nombre}}</td>
      <td>{{col.precio}}</td>
      <td>{{col.descripcion}}</td>
      <td>{{col.categoria}}</td>

      <td>
        <button id="btn-edit" title="editar" type="button"
          class="btn btn-outline-warning"><mat-icon>edit</mat-icon></button>
      </td>
      <td>
        <button id="btn-delete" title="eliminar" type="button"
          class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarproducto"> (click)="mostrarBorrar(producto)"<mat-icon>delete</mat-icon></button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
  Agregar un nuevo producto
</button>


<!-- MODAL PARA AGREGAR NUEVO PRODUCTO -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- TÍTULO DEL MODAL -->
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- CUERPO DEL MODAL-->
      <div id="eliminarproducto" [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.: Medias de chanchitos">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una descripción:</label>
          <input class="form-control" type="text" formControlName="descripcion"
            placeholder="Ej.: Medias de chanchitos de algodón premium">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese el precio:</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="...">
        </div>

        <div class="mb-3">
          <label class="form-label">Selecciona una categoría:</label>
          <select class="form-control" formControlName="categoria" class="form-select">
            <option selected>Elija una opción</option>
            <option value="alimentacion">Alimentación</option>
            <option value="indumentaria">Indumentaria</option>
            <option value="juguete">Juguete</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese vínculo de una imagen">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo de la imagen:</label>
          <input class="form-control" type="text" formControlName="alt" placeholder="Ej.: Medias de chanchito">
        </div>
      </div>

      <!-- ACCIONES DEL MODAL -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="agregarProducto()"
          data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>