
<div class="row">
    <div class="col-4 div-logo">
        <img src="../../../../../assets/img/logo-blanco.png" alt="" srcset="">
    </div>
    <div class="col-4 d-flex justify-content-center">
        <ul class="text-white fs-5 mt-4">
            <li class="my-4">Catalogo</li>
            <li class="my-4">About Us</li>
            <li class="my-4">Contacto</li>
        </ul>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <ul class="text-white fs-5 mt-4">
            <li class="my-4">CET N°30</li>
            <li class="my-4">Paraguay 1050</li>
            <li class="my-4">Rio Negro, Cipolletti</li>
        </ul>
    </div>
    <p class="text-center text-white">© todos los derechos reservados de Joaquin Baldantoni</p>
</div>