
<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina" id="infofooter">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#" class="logo">
                    <img src="../../../../../assets/img/logo-de-la-empresa.jpg" alt="Logo de Nuestra empresa mada faker">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una pequeña organización que busca informar al consumidor sobre el producto que va adquirir y como instalarlo/implementarlo.</p>
            <p>Nuestros valores son: Honestidad, Calidad y responsabilidad. Tenemos el objetivo de brindar el mejor servicio y atención al cliente.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            
            <div class="red-social">
                <a href="#" ><img src="../../../../../assets/img/instagram-logo.png" style="width: 50px;" alt=""></a><!--aca pone imagenes o iconos de redes sociales-->
                <a href="#" ><img src="../../../../../assets/img/facebook-logo-1-2.png" style="width: 50px;" alt=""></a><!--aca pone imagenes o iconos de redes sociales-->
                <a href="#" ><img src="../../../../../assets/img/twitter-brand-new-logo-3-d-with-new-x-shaped-graphic-of-the-world-s-most-popular-social-media-free-png.png" style="width: 60px;" alt=""></a><!--aca pone imagenes o iconos de redes sociales-->
                <a href="#" ><img src="../../../../../assets/img/R.png" style="width: 80px;" alt=""></a><!--aca pone imagenes o iconos de redes sociales-->
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>Equipo H-TEK</b> - Todos los Derechos Reservados. </small>
    </div>
</footer>
