<div class="img">
    <div class="container rounded">
        <div class="row divinputs rounded-start">
            <i><mat-icon class="mt-4">person</mat-icon></i>

            <h1 class="text-light mb-4">Registrate</h1>

            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese un nombre de usuario</mat-label>
                    <input [(ngModel)]="usuarios.nombre" matInput placeholder="ej. juan123" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Ingrese un mail valido</mat-label>
                    <input [(ngModel)]="usuarios.email" matInput placeholder="ej. juan123@gmail.com" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col">

                <mat-form-field>
                    <mat-label>Seleccione rol de usuario</mat-label>
                    <select [(ngModel)]="usuarios.rol" matNativeControl required>
                        <option value="adm">Administrador</option>
                        <option value="vis">Visitante</option>
                    </select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input
                        minlength="6" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Minimo 6/{{input.value.length}}</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <button class="boton" mat-raised-button color="primary" (click)="registrar()">Registrar</button>
            <a routerLink="/inicio-sesión">¿Ya tienes una cuenta? Inicia sesión.</a>
        </div>
    </div>
</div>