.container{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.contenido{
    width: 400px;
    display: inline-block;
    margin: 10px;
    color: white;
    text-align: center;
}

mat-card{
    background-color: transparent;
    border-radius: 12px;
    transition: .5s;
}

mat-card:hover{
    transition: .5s;
    scale: 1.1;
}

mat-card-header{
    width: 100%;
    justify-content: center;
}